# dependencies
node_modules
e2e

# Files 
browserslist
karma.conf.js
tsconfig.app.json
tsconfig.json
tsconfig.spec.json
tslint.json
.editorconfig

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*