.lista-tarefas{
    display: inline-block;
    margin: 10px 5px;    
}

.card-hover:hover{
    border-radius: 5px;
    box-shadow: 5px 5px rgb(243, 243, 243);
    cursor: pointer;
}

.sem-tarefas{
    text-align: center;
    color: whitesmoke;    
    vertical-align: middle;
    margin-top: 100px;
}