mat-card-content h1{
    text-align: center;
    padding-top: 10px;
}

mat-form-field{
    padding: 20px 0px;
}

mat-error{
    position: absolute;
    font-weight: 700;   
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}

.input-form{
    margin-bottom: 50px;
}

.form-tarefas{
    text-align: center;
    width: 100%;
}

.form-tarefas mat-form-field{
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.button-group{
    text-align: center;
}

.btn{
    padding: 0px 20px;
    margin: 0px 20px;
}

.btn-salvar{
    color: white;
    background-color: rgba(21, 150, 21, 0.726);
}

.btn-cancelar{
    color: white;
    background-color: rgb(236, 75, 75);
}