<mat-card>
  <mat-card-content>
    <section class="form-tarefas">
      <div class="input-form">
        <mat-form-field>
          <mat-label>Título</mat-label>
          <input matInput [(ngModel)]="tarefa.titulo" />
          <mat-error *ngIf="erro">{{ error.message }}</mat-error>
        </mat-form-field><br>
        <mat-form-field>
          <mat-label>Descrição</mat-label>
          <textarea matInput [(ngModel)]="tarefa.descricao" ></textarea>
        </mat-form-field>
        <mat-error *ngIf="error">{{ error.message }}</mat-error>
      </div>
        <div class="button-group">
          <button mat-raised-button class="btn btn-salvar" (click)="salvarTarefa(tarefa);">Salvar</button>
          <button mat-raised-button class="btn btn-cancelar" (click)="limpar(tarefa);">Limpar</button>
        </div>
    </section>
  </mat-card-content>
</mat-card>